@font-face {
	font-family: "Hermit";
	src: url('../font/Hermit-medium.otf');
}
body {
	background-color: #ffffff;
	background-image: url("../images/blizzard.png");
	font-family: "Hermit", serif;
	margin: 0px;
	padding: 0px;
}

.menu {
	background-color: #000000;
	background-image: url("../images/low-contrast-linen.png");
	height: 125px
}

a:link { color: lightgray; }
a:visited { color: lightgray; }
a:hover { color: gray; }
a:active { color: gray; }


.menu-items {
	margin-right: 13%;
	float: right;
	font-weight: bold;
  font-size: large;
}



.separator-high {
	height: 80px;
}

.separator-regular {
	height: 40px;
}

.separator-small {
	height: 20px;
}

.separator-realy-small {
  height: 8px;
}

.content {
	padding-left: 15%;
  padding-right: 15%;
}

.post-title {
	height: 40px;
  font-weight: bold;
  color: gray;
}
.post-under-title {
  font-size:xx-small;
}



.console { 
  position: relative;
  display: inline-block;
  color: white;
}

.console::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 4px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  height: 24px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}